<%- include("header") -%>

<h2>This is the about page</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aperiam velit
  totam veniam accusantium, non hic laudantium ratione labore. Non odit
  voluptatum tenetur quas vel!
</p>

<%- include("footer") -%>
